.social-media .btn, .social-media .btn:hover, .social-media .btn:first-child:active {

    color: #fff;

}

.btn.btn-facebook {
    background-color: #3b5998!important; 
}

.btn.btn-twitter {
    background-color: #55acee!important; 
}

.btn.btn-instagram {
    background-color: #ac2bac!important; 
}

.btn.btn-youtube {
    background-color: #ed302f!important; 
}

.title {
    font-weight: bold;
}

.navbar-custom {
    /*
        Paleta de colores
        Naranja claro: #DE993E
        Arena: #E9D68C
        Azul: #07A4AF
        Turquesa: #53A88B
        Verde: #45893F

        Blanco: #fff
    */
    background-color: #DE993E;
}

.card-container {
    /*
        Paleta de colores
        Naranja claro: #DE993E
        Arena: #E9D68C
        Azul: #07A4AF
        Turquesa: #53A88B
        Verde: #45893F

        Blanco: #fff
    */
    background-color: #E9D68C;
}

.navbar-custom-text {
    font-weight: bold!important;
    color: #fff!important;
}

.text-header {
    /* Reducir espacio entre líneas */
    padding : 0;
    margin : 0;
    line-height : 1.5em;
}

.text-footer {
    /* Reducir espacio entre líneas */
    padding : 0;
    margin : 0;
    line-height : 2em;
    font-family:sans-serif;
    color: #656565;
}

/*
Paleta de colores
Naranja claro: #DE993E
Arena: #E9D68C
Azul: #07A4AF
Turquesa: #53A88B
Verde: #45893F

Blanco: #fff
*/